@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
	text-align: center;
}

@theme {
	--breakpoint-xs: 25rem;
}

.slick-slide > div {
	margin: 0 20px;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}
table,
th,
td {
	border: 1px solid #1f1f1f;
	border-collapse: collapse;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
